.carousel-wrapper {
    width: 100vw;
    height: calc(100vh - 126px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caption {
    position: absolute;
    bottom: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
    visibility: hidden;
}
.image-wrapper:hover {
    .caption {
        visibility: visible;
    }
}
.image-wrapper {
    height: calc(100vh - 144.2px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: 100%;
    }
}


