<div class="container">
  <ngb-carousel [interval]="0">
    <ng-template ngbSlide *ngFor="let painting of paintings">
      <div class="carousel-wrapper">
        <!-- <button>X</button> -->
        <div class="image-wrapper">
          <img src="../../assets/Paintings/Generic.jpg" alt="" />
          <div class="caption">
            <p>Naziv {{ painting }}</p>
            <br />
            <p>30x20</p>
            <br />
            <p>Akrilne boje</p>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
