section {
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
    width: 80%;
}
h3 {
text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}