<div class="container">
  <section>
    <h3>O Vesni</h3>
    <p>
      Zovem se Vesna Jovanović, rodjena 07.avgusta 1975. Živim i radim u
      Smederevu. Imala sam 33 godine kada mi je dijagnostikovana multipla
      skleroza. Prirodan tok bolesti bez lečenja, doveo me je do teškog
      invaliditeta i invalidskih kolica. Moj moto je da daijagnoza nije i
      prognoza, tako krećem da tražim načine da sebi omogućim što kvalitetniji
      život. Uspešno se bavim streljaštvom i streličarstvom te postajem
      višestruki državni prvak, a u slobodno vreme slikam. Dobitnik sam nagrade
      "Mihajlo Pupin" na izložbi u Paraćinu. Na ovoj stranici su moji radovi
      čijih 30% prodaje ide u humanitarne svrhe.
    </p>
  </section>
  <section>
    <h3>Kako kupiti sliku</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit, totam
      molestiae repellat amet ad, ipsum iure vitae tempore dolores reprehenderit
      iste ipsam necessitatibus eveniet quisquam obcaecati. Laboriosam tenetur
      illo corporis veniam incidunt, quasi minus consectetur voluptatem ipsa
      repellat dolores enim, dolorum temporibus itaque eius deserunt natus optio
      culpa amet asperiores.
    </p>
  </section>
</div>
