.painting-wrapper {
  margin-bottom: 10px;
  position: relative;
}

img {
  width: 100%;
  object-fit: contain;
}

.main-painting {
  z-index: auto;
}
.placeholder-painting {
  filter: blur(3px);
  position: absolute;
  left: 0px;
  z-index: auto;
}
.not-visible{
  opacity: 0;
}







