.painting-wrapper {
  margin-bottom: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  object-fit: contain;
}

.main-painting {
  z-index: auto;
}

.placeholder-painting {
  filter: blur(5px);
  position: absolute;
  left: 0px;
  z-index: auto;
}

.not-visible{
  opacity: 0;
}

.fade-in {
  opacity: 1;
  transition: opacity 600ms ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 600ms ease-in-out;
  
}

.lds-dual-ring {
  position: absolute;
  z-index: auto;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}






