<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" style="font-family: 'Alex Brush', cursive; font-size: 24px;" [routerLink]="['home']">V G</a>
  <div class="collapse navbar-collapse justify-content-between">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['home']">Pocetna</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['paintings']">Slike</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['drawings']">Crtezi</a>
      </li>
    </ul>
    <ul class="navbar-nav d-flex">
      <li class="nav-item">
        <a href="#" class="nav-link fa fa-facebook"></a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link fa fa-instagram"></a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link fa fa-pinterest"></a>
      </li>
    </ul>
  </div>
</nav>
