<!-- <div class="container content-wrapper">
  <div
    class="painting-wrapper animation box1"
    [@transition]="animationStatePainting"
  >
    <img src="../../assets/Paintings/{{ paintingId }}.JPG.jpg" />
  </div>
  <div class="text-wrapper animation box2" [@transition]="animationStateText">
    <h4>Naziv Slike</h4>
    <br />
    <br />
    <br />
    <p>20x35</p>
    <br />
    <p>Akrilne boje</p>
    <br />
    <p>Platno na ramu</p>
  </div>
</div> -->

<div
  class="container content-wrapper"
  [@justifyContentTransition]="animationState"
>
  <div class="painting-wrapper animation box1">
    <img src="../../assets/Paintings/{{ paintingId }}.JPG.jpg" />
  </div>
  <div class="painting-info-wrapper animation box2">
    <h4>Naziv Slike</h4>
    <br />
    <br />
    <br />
    <p>20x35</p>
    <br />
    <p>Akrilne boje</p>
    <br />
    <p>Platno na ramu</p>
  </div>
</div>
