.content-wrapper {
    display: flex;
    justify-content: center;
}

.painting-wrapper {
    z-index: 2;
    height: 80vh;
}

img {
    height: 100%;
}

.text-wrapper {
    z-index: 1;
    height: 80vh;
    text-align: center;

}

.box1,.box2 {
    position: absolute;
}

