.content-wrapper {
    display: flex;
    justify-content: center;
}

.painting-wrapper {
    z-index: 2;
    height: 80vh;
}

img {
    height: 100%;
}

.painting-info-wrapper {
    display: flex;
    flex-direction: column;
    z-index: 1;
    height: 80vh;
    text-align: center;
    justify-content: center;
    align-items: center;

}

// .box1,.box2 {
//     position: absolute;
// }
.space-evenly {
    justify-content: space-evenly;
}

