.content-wrapper {
    display: flex;
    justify-content: center;
}

.painting-wrapper {
    position: absolute;
    z-index: 2;
    height: 80vh;
}

img {
    height: 100%;
}

.text-wrapper {
    position: absolute;
    z-index: 1;
    height: 80vh;
    text-align: center;

}

.animation {
    animation-delay: 5s;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

.box1 {
    animation-name: slideLeft;
}

.box2 {
    animation-name: slideRight;
}